.v-enter-from,
.v-leave-to {
  opacity: 0.5;
  font-size: 10rem;
}

.v-enter-active,
.v-leave-active {
  color: blue;
  transition: opacity 800ms ease;
}

.v-enter-to,
.v-leave-from {
  color: red;
  opacity: 1
}