<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoアプリ</title>
  <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
</head>
<body>
  <h1>ToDo</h1> 
  <div id="app">
    <div class="new-todo">
      <div class="new-todo-item">
        <label for="new-todo-title">タイトル</label>
        <input v-model="todoTitle" type="text" id="new-todo-title" />
      </div>

      <div class="new-todo-item">
        <label for="new-todo-description">説明</label>
        <textarea v-model="todoDescription" id="new-todo-description"></textarea>
      </div>
    </div> <!-- new-todo -->

    <div>
      <div class="todo-search">
        <div class="todo-search-item">
          <label for="todo-search-keyword">キーワ－ド</label>
          <input v-model="searchWord" type="input" id="todo-search-keyword">
        </div>
      </div>
    </div>
  </div>

  <script src="src/js/app.js"></script>
</body> 
</html>