<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./style.css" rel="stylesheet">
  <title>dev2</title>
  <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
</head>
<body>
  <h1>Vue.js Sample</h1>

  <main class="main">
    <div id="app">
      <div class="new-todo">
        <h2>新しいアイテムを作成</h2>

        <div class="new-todo-item">
          <label for="new-todo-title">タイトル</label>
          <input v-model="todoTitle" type="text" id="new-todo-title" />
        </div>

        <div class="new-todo-item">
          <label for="new-todo-description">説明</label>
          <textarea v-model="todoDescription" id="new-todo-description"></textarea>
        </div>
        <p>{{ todoTitle }}</p>
        <p>{{ todoDescription }}</p>
      </div><!-- new-todo -->

      <div class="todo-search">
        <div class="todo-search-item">
          <label for="todo-search-keyword">キーワードで検索</label>
          <input v-model="searchWord" type="text" id="todo-search-keyword" />
        </div>
      </div>
    </div><!-- app -->
  </main>

  <script src="app.js"></script>
</body> 
</html>
