* {
  color: #666;
  font-weight: normal;
}

body {
  padding-top: 50px;
}

h1 {
  text-align: center;
}

.main {
  width: 70%;
  margin: 50px auto;
}

.new-todo,
.todo-search {
  margin-bottom: 30px;
  padding: 10px 50px;
  border: 2px solid #bbb;
  border-radius: 5px;
}
.new-todo .new-todo-item,
.todo-search .new-todo-item {
  width: 50%;
  margin-bottom: 20px;
  border-radius: 5px;
}
.new-todo .new-todo-item label,
.todo-search .new-todo-item label {
  display: inline-block;
  width: 100px;
}