html {
  color: #35495E;
  font-size: 62.5%;
  font-weight: normal;
}

$green: #41B883;

body {
  padding-top: 20px;
}

h1,h2,h3,h4 {
  color: $green;
  font-weight: 600;
}

.header {
  .header-title {
    color: $green;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
  }
}

.main {
  position: relative;
  width: 75%;
  margin: 30px auto;
  min-height: 100vh;
}

.left {
  border-right: 5px solid $green;
  position: absolute;
  left: 0;
  width: 45%;
}

.todo-list {
  position: absolute;
  right: 0;
  width: 50%;
}

.create-todo,
.todo-search {
  padding: 10px 30px;
  border-left: 3px solid #aaa;;
  margin-bottom: 20px;
  h2 {
    color: $green;
    font-size: 2.5rem;
  }
  .new-todo-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 5px;
    label {
      margin-bottom: 10px;
      font-size: 1.8rem;
      span {
        margin-left: 5px;
        color: red;
        font-size: 1.5rem;
        font-weight: 900;
      }
    }
    input,
    textarea {
      border: none;
      border-bottom: 2px solid #444;
    }
  }
}

.todo-list {
  list-style: none;
}


.no-todo {
  font-size: 3rem;
}
