.button {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.625em;
  height: 2.5em;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  background-color: #006bd6;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  user-select: none;
}
.button:hover {
  opacity: 0.8;
}
.button.size-small {
  font-size: 0.75rem;
  padding: 0.5em;
}
.button.size-large {
  font-size: 1.125rem;
  padding: 2em;
}
.button.variant-outlined {
  color: #006bd6;
  border: 1px solid #006bd6;
  background-color: #ffffff;
}
.button.variant-attention {
  background-color: #d6004b;
}
.button.loading {
  cursor: default;
  pointer-events: none;
}
.button.loading:hover {
  opacity: 1;
}
.button.loading::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: cover;
  margin-right: 0.5rem;
  background-image: url("./loading.svg");
}
.button:disabled {
  cursor: default;
  background-color: #cccccc;
}
.button:disabled:hover {
  opacity: 1;
}
.button.full-width {
  width: 100%;
}
